main {
    max-width: unset;
    background-color: #00000010;
}


.navigation .container {
    max-width: 1200px;
}

.account-layout {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 50vh;
    max-width: 1200px;
    margin: 0 auto;
}

.account-layout .content {
    border-radius: 16px;
    padding: 1.5rem;
}

.account-navigation {
    display: none;
    max-height: max-content;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.nav-list a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-200);
    font-family: var(--headingFont);
}

.nav-list .active a {
    font-weight: 700;
    color: var(--text-300);
    background: url('/icons/caret-right-active.svg') right center / 16px 16px no-repeat;
    padding-right: 22px;

}

.account-navigation .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.user p.name {
    font-weight: 600;
    margin-top: 0.5rem;
}

.user p.email {
    font-weight: 400;
    font-size: 0.8em;
    color: var(--text-200);
    border-bottom: 1px solid var(--grey-100);
    padding-bottom: 0.5rem;
    min-width: 80%;
    text-align: center;
}


/* Dashboard ----------------------------------------- */

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 16px;
    max-width: 100%;
}

.content section {}

.page_title {
    margin: 0.5rem 0;
    padding-bottom: 0.15rem;
    font-size: 0.8rem;
    font-weight: 800;
    border-bottom: 2px solid var(--link);
}

section h2 {
    font-weight: 700;
    color: var(--text-300);
}

section.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
}

section.title a {
    font-size: 0.75rem;
    font-weight: 500;
}

.banners {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Points ---------------------------------------------- */

.points {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    background: linear-gradient(0deg, #eeeeee70, #ffffff);
    border-radius: 16px;
    border: 1px solid #dbdbdb;
    width: 100%;
}

.points .summary {
    padding: 1rem;
    font-size: 0.8rem;
    font-family: var(--headingFont);
    color: var(--text-200);
    margin: 0.25rem 0;
}

.points .summary strong {
    font-weight: 800;
    color: var(--primary-green);
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.points .actions {
    display: flex;
    gap: 1.5rem;
    border-top: 1px solid #cfd7c4;
    background-color: #99D04F21;
    padding: 10px 24px;
    justify-content: flex-end;

}

.points .actions a {
    font-size: 0.75rem;
    font-weight: 600;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dashboard-recent-activity {}

/* Listings -------------------------------------------- */
.listings-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.listing-item {
    border: 1px solid #dbdbdb;
    border-radius: 16px;
    grid-template-columns: 60px 1fr 110px;
    gap: .5rem;
    padding: .75rem;
    display: grid;
    background: linear-gradient(0deg, #eeeeee70, #ffffff);
}

.listings-list .large .listing-details h4 {
    line-height: 2rem;
}

.listing-image {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: var(--grey-50);
    overflow: hidden;
}

.listing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.listing-details .category {
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.06rem;
    color: var(--text-100);
}

.listing-details h4 {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 0.25rem;
}

.listing-details h4 a {
    color: var(--text-300);
}

.listing-details h4 a:hover {
    color: var(--link);
}

.listing-details .condition {
    font-size: 0.6rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: var(--primary-green);
    opacity: 0.75;
    background-color: var(--primary-green);
    color: white;
    width: fit-content;
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
}

.listing-meta {
    font-size: 0.8rem;
    text-align: center;
    border-left: 1px solid var(--grey-50);
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 8px;
}

.listing-item .date {
    color: var(--text-100);
    font-size: 0.6rem;
    letter-spacing: 0.03rem;
}

.listing-meta .pointsValue {
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-green);
    justify-content: center;
    margin: 0.3rem auto;
}

.listing-meta .button-small {
    padding: 3px 9px;
    width: fit-content;
    margin: auto auto 0.25rem;
    font-size: 0.7rem;
    font-weight: 500;
}

/* No Listings */
.no-listings {
    background-color: var(--muted-green);
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--secondary-green);
    text-align: center;
}

.no-listings a.button {
    background-color: white;
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 24px;
    border: 2px solid var(--secondary-green);
    margin: 0.75rem auto 0.2rem;
    display: inline-block;

}

/* FAQ --------------------------------------------------- */

.faq {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.9rem;

}

.faq h2 {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--text-200);
    border-bottom: 1px solid var(--text-100);
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0;
    margin-top: 1.7rem;

}

.faq ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

/* Responsive Styles ---------------------------------------- */

@media screen and (min-width: 768px) {

    main {
        padding: 24px;
    }

    .account-layout {
        grid-template-columns: 300px auto;
        padding: 2rem 0;
    }

    .account-navigation {
        display: block;
    }

    .row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .banners {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .dashboard-recent-activity {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        align-items: flex-start;

    }
}