main {
    max-width: unset;
}

.account-layout {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 50vh;
}

.account-navigation {
    display: none;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.nav-list a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-200);
    font-family: var(--headingFont);
}

.nav-list .active a {
    font-weight: 700;
    color: var(--text-300);
    background: url('/icons/caret-right-active.svg') right center / 16px 16px no-repeat;
    padding-right: 22px;

}

.account-navigation .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.user p.name {
    font-weight: 600;
    margin-top: 0.5rem;
}

.user p.email {
    font-weight: 400;
    font-size: 0.8em;
    color: var(--text-200);
    border-bottom: 1px solid var(--grey-100);
    padding-bottom: 0.5rem;
}


/* Dashboard ----------------------------------------- */

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 16px;
    max-width: 100%;
}

.content section {}

.page_title {
    margin: 0.5rem 0;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    border-bottom: 2px solid var(--link);
}

section h2 {

    font-weight: 700;
    color: var(--text-300);
}

section.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
}



/* Points ---------------------------------------------- */

.points {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.points .actions {
    display: flex;
    gap: 1rem;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dashboard-recent-activity {}

/* Listings -------------------------------------------- */
.listings-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.listing-item {
    display: grid;
    grid-template-columns: 90px 1fr 110px;
    gap: 0.5rem;
    border: 1px solid var(--grey-50);
    padding: 0.5rem;
    border-radius: 8px;
}

.listing-image {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    background-color: var(--grey-50);
    overflow: hidden;
}

.listing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.listing-details .category {
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.03rem;
    color: var(--text-200);
}

.listing-details h4 {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 130%;
    color: var(--dark);
}

.listing-details h4 a {
    color: var(--dark);
}

.listing-details h4 a:hover {
    color: var(--link);
}

.listing-details .condition {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--primary-green);
}

.listing-meta {
    font-size: 0.8rem;
    color: var(--text-200);
    text-align: center;
    border-left: 1px solid var(--grey-50);
    align-self: center;
}

.listing-meta .date {
    font-size: 0.6rem;
    letter-spacing: 0.03rem;
}

.listing-meta .pointsValue {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--primary-green);
    justify-content: center;
}

.listing-meta .button-small {
    padding: 2px 12px;
    width: fit-content;
    margin: 0.5rem auto;
    font-size: 0.7rem;
    font-weight: 500;
}

/* No Listings */
.no-listings {
    background-color: var(--muted-green);
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--secondary-green);
    text-align: center;
}

.no-listings a.button {
    background-color: white;
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 24px;
    border: 2px solid var(--secondary-green);
    margin: 0.75rem auto 0.2rem;
    display: inline-block;

}


/* Bonus Points ---------------------------------------- */
.bonus-points {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: var(--muted-green);
    border: 2px solid var(--secondary-green);
    border-radius: 16px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1.25rem;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: var(--text-200);
}

.bonus-points h3 {
    font-size: 1.1rem;
    font-weight: 600;
}

.bonus-points a.primary {
    padding: 0.75rem 1.5rem;
}


/* Responsive Styles ---------------------------------------- */

@media screen and (min-width: 768px) {

    main {
        padding: 24px;
    }

    .account-layout {
        grid-template-columns: 300px auto;
        padding: 2rem 0;
    }

    .account-navigation {
        display: block;
    }

    .row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .dashboard-recent-activity {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        align-items: flex-start;

    }
}