.container {
    margin: 0;
    max-width: 100%;
    padding-bottom: 3rem;
    border-radius: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.order-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.listing {
    display: grid;
    grid-template-columns: 60px 1fr;

    margin-bottom: 1rem;
}

.listing-image {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: var(--grey-50);
    overflow: hidden;
}

.listing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.listing .category {
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.03rem;
    color: var(--text-200);
}

.listing h4 {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 130%;
    color: var(--dark);
}

.listing h4 a {
    color: var(--dark);
}

.listing h4 a:hover {
    color: var(--link);
}

.listing .condition {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--primary-green);
    text-transform: capitalize;
}

.listing-meta {
    font-size: 0.8rem;
    color: var(--text-200);
    text-align: center;
    border-left: 1px solid var(--grey-50);
    align-self: center;
}

.listing-meta .date {
    font-size: 0.6rem;
    letter-spacing: 0.03rem;
}


.listing-meta .button-small {
    padding: 2px 12px;
    width: fit-content;
    margin: 0.5rem auto;
    font-size: 0.7rem;
    font-weight: 500;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

/* Shipping Details ---------------------------------- */
.shipping-details {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--text-200);
    margin-bottom: 2rem;
}

.shipping-details .direction {
    font-size: 0.6rem;
    color: var(--text-200);
    text-transform: uppercase;
}

.shipping-details .pincode {
    font-size: 1.2rem;
    color: var(--text-300);
    font-weight: 600;
    font-family: var(--heading-font);
}

.shipping-details .cityState {
    font-size: 0.6rem;
    color: var(--text-200);
    text-transform: uppercase;
    font-weight: 600;
}

.shipping-cost {
    font-size: 0.7rem;
    color: var(--primary-green);
    font-weight: 600;
    text-align: center;
    border: 2px solid var(--primary-green);
    border-radius: 8px;
    padding: 0.25rem 1rem;
    margin-left: auto;
}

.shipping-cost .amount {
    font-size: 1.3rem;
    font-weight: 700;
}

/* Order Summary ----------------------------- */

div.order-summary {
    display: grid;
    font-size: 0.9rem;
    grid-template-columns: 1fr 1fr;
    color: var(--text-300);
    row-gap: 0.25rem;
}

.order-summary p.number {

    text-align: right;
}

.order-summary .pointsValue {
    justify-content: flex-end;
    font-size: 0.9rem;
}

.order-summary p.total {
    font-size: 1.1em;
    font-weight: 600;
    border-top: 1px solid var(--text-300);
    padding-top: 0.25rem;
    margin-top: 0.3rem;
}

/* Checkout ----------------------------- */

.checkout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
    border: 2px solid var(--text-200);
}

.checkout .title {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background-color: var(--dark);
    text-align: center;
    padding: 0.5rem;
}

.checkout .line-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 0 0.75rem;
    justify-content: space-between;
}

.line-item .item-value {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--dark);
    text-align: right;
}

.balance-warning {
    padding: 0 0.75rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--primary-green);
    border-top: 2px solid var(--link);
    padding-top: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

/* Order Details  ----------------------------- */

h3.title {
    color: var(--dark);
    font-size: 0.8rem;
    font-weight: 700;
    border-bottom: 1px solid var(--text-100);
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
}

/* Payment Details  ----------------------------- */

div.payment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    border: 2px solid var(--primary-green);
    background-color: #F7F7F0;
    padding: 24px;
}

.payment h1.title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--primary-green);
    font-weight: 600;
    color: var(--dark);
}

p.balance {
    font-weight: 600;
    color: var(--primary-green);
    font-size: 0.8rem;
}

p.hint {
    font-size: 0.8rem;
    color: var(--text-200);
}

.payment-method p.title {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--dark);
    text-transform: capitalize;
}

ul.payment-options {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    display: flex;
    gap: 0.5rem;
}

ul.payment-options li label img {
    width: 70px;
    height: 42px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid var(--text-100);
    cursor: pointer;
    opacity: 0.5;
}

ul.payment-options li.active label img {
    border-color: var(--primary-green);
    opacity: 1;
}

ul.payment-options input {
    display: none;
}

.payment form {
    border-top: 1px solid var(--text-100);
    padding-top: 1rem;

}

form label {
    color: var(--dark);
    text-transform: capitalize;
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

form input {
    border-color: var(--text-100);
    background-color: white;
}

form input:focus,
form input:active,
form input:hover {
    border-color: var(--text-100);
    background-color: white;
    outline: none;
}

button.primary {
    width: 100%;
}

/* Responsive Styles -------------------- */
@media screen and (min-width: 600px) {

    .container {
        margin: 2rem auto;
        border-radius: 8px;
        padding: 2rem;
    }

    .content {
        flex-direction: row;
        gap: 3rem;
    }

}