.create-listing-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 2rem auto;
}

.create-listing-page form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form label {
    margin: 1rem 0 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    display: block;
}

form input,
form textarea {
    border-color: #CCC;
    padding: 1.25rem 0.75rem;
    background-color: white;
}

form textarea {
    height: auto;
}

form input:focus,
form textarea:focus {
    outline: var(--primary-green) solid 1px;
    box-shadow: none;
}

form .hint {
    font-size: 0.75rem;
    color: #ABA;
    margin-top: 0.25rem;
}

.page_title {
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--link);
}

.page_title h1 {
    font-size: 2em;
    margin-bottom: 0;
    line-height: 120%;
}

.page_title p {
    font-size: 0.8em;
    margin-top: 0;
    color: #888;
}

h2 {
    font-size: 1rem;
    color: #2c3e50;
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: -0.04rem;
}

.categories,
.item-condition {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}


.categories li label,
.item-condition label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90px;
    overflow: hidden;
    opacity: 0.8;
    cursor: pointer;
    margin: 0;
    text-transform: capitalize;
}


.categories li .icon {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    border: 1px solid var(--text-200);

}

label.selected .icon {
    opacity: 1;
    border: 2px solid var(--primary-green);
    background-color: hsl(var(--secondary-green-hsl), 0.2);
}


label:hover .icon {
    border: 2px solid var(--link);
}

.categories li p {
    padding-top: 0.5rem;
    color: #999;
    font-size: 0.8rem;
    text-align: center;
    line-height: 120%;
    font-weight: 400;
}

label.selected {
    color: var(--primary-green);
}

label.selected p {
    font-weight: 700;
    color: var(--primary-green);
}

.item-condition {
    flex-direction: column;
}

.item-condition li {
    max-width: 90%;
}

.item-condition label {
    width: unset;
    border: 1px solid #CCC;
    border-radius: 8px;
    padding: 0.5rem 1rem 1rem;
    text-align: left;
    align-items: flex-start;
    transition: all 0.2s ease-in-out;
    color: var(--text-300);
}

.item-condition p.condition {
    font-size: 1.1rem;
    font-weight: 700;
}

.item-condition p.hint {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text-200);
    padding-bottom: 0.15rem;
    border-bottom: 1px solid var(--text-100);
    width: 100%;
}

.item-condition .guide {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    margin: 1rem 0;
}

.item-condition .guide p {
    font-size: 0.8rem;
    color: var(--text-200);
    padding-bottom: 0.15rem;
    display: flex;
    gap: 0.25rem;
}

.item-condition .guide svg {
    padding-top: 4px;
}

.item-condition label.selected {
    border-color: var(--primary-green);
    border-width: 2px;
    background-color: hsl(var(--secondary-green-hsl), 0.1);
    scale: 1.05;
}

.item-condition label.selected p.condition {
    color: var(--link);
    font-weight: 700;
}

label.selected p.guide-item {
    color: var(--text-300);
    font-size: 0.8rem;
    font-weight: 500;
}

.item-condition p.cross,
label.selected p.cross {
    color: var(--text-100);
    font-weight: 500;
}

label.selected p.guide-item svg.check {
    color: var(--link);
}

.item-condition p.pseudo-button {
    border: 1px solid var(--text-100);
    border-radius: 6px;
    padding: 0.25rem 0;
    margin-top: auto;
    width: 100%;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.item-condition .selected p.pseudo-button {
    background-color: var(--link);
    color: white;
    border: none;
    padding: 0.26rem 0;
}

section .title {
    border-bottom: 3px solid var(--link);
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}


/*  Image Uploader ---------------------------- */

.dropzone {
    border: 2px dashed #ccc;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 12px;
    background-color: var(--grey-50);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropzone .icon {
    margin: 0 auto 10px;
    display: block;
    opacity: 0.5;
}

/* Impact ------------------------------------- */


.impact h2 {
    margin-bottom: 0;
}

.impact .page_title {
    padding-bottom: 0.25rem;
}

.impact p {
    color: var(--text-200);
    margin-top: 0.25rem;
}

/* Form Actions */

.formAction {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    border-top: 1px solid #DDD;
    padding-top: 2rem;
}

/*  Submit Button */

button.publish {
    width: fit-content;
    padding: 24px 36px;
    background-color: var(--link);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.95rem;
}

button.publish:hover {
    background-color: var(--primary-green);
}


/*  Responsive Styles ---------------------------- */

@media screen and (min-width:786px) {

    .item-condition {
        flex-direction: row;
    }

    .item-condition li {
        max-width: 20%;
    }

    .item-condition label {
        padding: 1rem 1.5rem 1rem;
        min-height: 260px;
    }

}