.create-listing-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 2rem auto;
}

.create-listing-page form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form label {
    margin: 0.5rem 0;
}

form input,
form textarea {
    border-color: #CCC;
    padding: 1.25rem 0.75rem;
}

form textarea {
    height: auto;
}

form input:focus,
form textarea:focus {
    outline: var(--primary-green) solid 1px;
    box-shadow: none;
}

form .hint {
    font-size: 0.75rem;
    color: #ABA;
    margin-top: 0.25rem;
}

.page_title {
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--link);
}

.page_title h1 {
    font-size: 2em;
    margin-bottom: 0;
    line-height: 120%;
}

.page_title p {
    font-size: 0.8em;
    margin-top: 0;
    color: #888;
}

h2 {
    font-size: 1rem;
    color: #2c3e50;
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: -0.04rem;
}

.categories,
.item-condition {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}


.categories li label,
.item-condition label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90px;
    overflow: hidden;
    opacity: 0.8;
    cursor: pointer;
    margin: 0;
    text-transform: capitalize;
}


.categories li .icon {
    background-color: #CCC;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

label.selected .icon {
    opacity: 1;
    background-color: var(--primary-green);
}

label:hover .icon {
    border: 2px solid var(--link);
}

.categories li p {
    padding-top: 0.5rem;
    color: #999;
    font-size: 0.8rem;
    text-align: center;
    line-height: 120%;
    font-weight: 400;
}

label.selected p {
    color: var(--dark);
    font-weight: 500;
}


.item-condition label {
    width: unset;
    border: 1px solid #CCC;
    border-radius: 8px;
    padding: 1rem 1.5rem 1rem;
}

.item-condition p.condition {
    font-size: 1.1rem;
    font-weight: 700;
}

.item-condition p.hint {
    font-size: 0.9rem;
    font-weight: 400;
    color: #666;
    padding-bottom: 0.15rem;
}

.item-condition p.guide {
    font-size: 0.8rem;
    color: #999;
    text-align: center;
}

.item-condition label.selected {
    border-color: var(--primary-green);
    border-width: 2px;
    background-color: hsl(var(--secondary-green-hsl), 0.1);
}

.item-condition label.selected p.condition {
    color: var(--link);
    font-weight: 700;
}

section .title {
    border-bottom: 3px solid var(--link);
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}


/* Form Actions */

.formAction {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    border-top: 1px solid #DDD;
    padding-top: 2rem;
}

/*  Submit Button */

button.publish {
    width: fit-content;
    padding: 24px 36px;
    background-color: var(--link);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.95rem;
}

button.publish:hover {
    background-color: var(--primary-green);
}