.loginForm {}

.loginForm label {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0.5rem 0;
    opacity: 0.6;
}

.loginForm input {
    border-color: #C0C0C0;
    border-radius: 6px;
    padding: 8px 12px;
    width: 100%;
}

.loginForm .actions {
    border-top: 1px solid #E3E3E3;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loginForm .actions button {
    width: 100%;
    padding: 16px 36px;
    background-color: var(--link);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}

.resend {
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}

button.resend {
    color: var(--link);

}