:root {
    --gradient-1: linear-gradient(90deg, #4BA950, #99D04F);
}

.navigation {
    background: var(--gradient-1);
    border-bottom: 2px solid #444C4420;
}

.navigation .container {
    margin: 0 auto;
    padding: 0 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation a,
.popover-content a {
    text-decoration: none;
    color: white;
}


.navigation a {
    font-weight: 600;
}


.navigation nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.popover-content {
    border: 1px solid #94B840
}

/* SearchBar */

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem auto 1.5rem;
}

.searchBar input {
    padding: 0.5rem;
    padding-left: 2rem;
    border-radius: 5rem;
    border: 1px solid #dcdcdc;
    width: 100%;
    max-width: 800px;
    background-color: #F0F1F3;
    font-size: 0.8rem;
    background-image: url('/icons/search.svg');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.searchBar input:focus {
    outline: none;
    border-color: #94B840;
}

@media screen and (min-width: 600px) {
    .navigation .container {
        padding: 0.75rem 1rem;
        max-width: 1140px;
    }

}