/* Listings Grid */
.listingsGrid {
    margin-bottom: 40px;
}

.listingsGrid a {
    color: inherit;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title h2 {
    font-size: 1rem;
    color: #2c3e50;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: -0.04rem;
}


.title a {
    font-size: 0.8rem;
    color: var(--link);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: grid;
    grid-template-rows: 150px 1rem 2.5rem 2rem 3.5rem;
    /* gap: 10px; */
}

.card img {
    max-width: 100%;
    height: auto;
    max-height: 140px;
    object-fit: cover;
    object-position: center;

    border-radius: 5px;
    aspect-ratio: 3/2;
    margin: 0 auto;
}

.card h3 {
    font-size: 0.9rem;
    color: #2c3e50;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 120%;
}

.card p {
    font-size: 0.8rem;
    line-height: 124%;
    opacity: 0.5;
    margin-bottom: 10px;
}

p.category {
    font-size: 0.6rem;
    opacity: 0.5;
    letter-spacing: 0.05rem;
    margin-bottom: 10px;
}

.card a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

.pointsValue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: var(--link);
    margin-top: 1.5rem;
}

.pointsValue span.value {
    background: url('/icons/cart-white.svg') 5px center no-repeat var(--link);
    background-size: 14px;
    color: white;
    padding: 5px 10px 3px 26px;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 0.04rem;
}