@import url('styles/navigation.css');
@import "tailwindcss";

html,
body {
  max-width: 100vw;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #F6F6F2;
}


a {
  color: var(--link);
  text-decoration: none;
}

button {
  cursor: pointer;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  color: #AAA;
  font-size: 0.85rem;
  max-width: 90%;
}

.breadcrumbs a {
  font-size: 0.85rem;
  font-weight: 500;
}

.breadcrumbs .home {
  padding-left: 16px;
  background: url('/icons/home.svg') left 3px no-repeat;
}

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

  }


}


:root {
  --link: #4BA950;
  --link-foreground: #FFF;
  --primary-green: #4BA950;
  --secondary-green-hsl: 108deg, 33.9%, 76.86%;
  --secondary-green: hsl(108deg, 33.9%, 76.86%);
  --muted-green: #F6F6F0;
  --dark: #32302A;
  --radius: 0.625rem;
  --background: #FFF;
  --foreground: #333;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #94B840;
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --shadow-10: 4px 7px 10px 0 rgba(0, 0, 0, 0.1);
  --gradient-1: linear-gradient(90deg, #4BA950, #99D04F);
  --gradient-2: linear-gradient(85deg, #5a7bb1, #95cfdd);
  --text-100: #B9B4B4;
  --text-200: #8d8b8b;
  --text-300: #646464;
  --text-400: #393939;

  --red-100: #DA562E;
  --red-200: #b43711;
  --grey-50: #eeeeee8b;
  --grey-100: #EEEEEE;

}


.bg-popover,
.bg-background {
  background-color: var(--background);
}

.bg-popover a {
  color: var(--link);
}

header span.username {
  color: white;
}

.pointsValue {
  color: var(--link);
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  line-height: 100%;
  font-weight: 700;
}

button.primary,
a.primary {
  width: fit-content;
  padding: 24px 36px;
  background-color: var(--link);
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

button.primary:hover {
  background-color: var(--primary-green);
}

/* Cards */

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Typography */

:root {
  --bodyFont: 'Open Sans', sans-serif;
  --headingFont: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  color: var(--primary-green);
}

.titleUnderlined {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: -0.04rem;
  border-bottom: 2px solid var(--link);
  padding-bottom: 0.2rem;
  margin-top: 1rem;
}

.button-small {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: 1px solid var(--text-100);
  border-radius: 8px;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--text-100);
  gap: 0.4rem;
}

.button-small:hover {
  border: 1px solid var(--text-200);
  color: var(--text-200);
  background-color: #EEE;
}

.button-delete {
  border-color: var(--red-100);
  color: var(--red-100);
}

.button-delete:hover {
  border-color: var(--red-200);
  color: var(--red-200);
}

/* Impact ---------------------------------------------- */

section.impact {
  background: var(--gradient-2);
  padding: 1rem 1.25rem;
  border-radius: 16px;
  color: white;
  margin-bottom: 1rem;

}

.impact h3 {
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  line-height: 140%;
}

.impact strong{
  color: #fffdb3;
}

.impact p {
  font-size: 0.8rem;
}

.impact .stats {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.impact .stats li {
  border-right: 1px solid var(--grey-50);
  padding-right: 1rem;
  text-align: center;
}

.impact .stats li:last-child {
  border-right: none;
}

.impact .stats .stat-number {
  font-weight: 900;
  font-size: 1.1em;
}

.impact .stats .stat-category {
  font-weight: 600;
  font-size: 0.8em;
}

/* Responsive Styles --------------------------- */

@media screen and (min-width: 768px) {

  main {
    padding: 0 24px;
  }

  .impact .stats {
    display: flex;
  }
}