@import url('styles/navigation.css');
@import "tailwindcss";

html,
body {
  max-width: 100vw;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #F6F6F2;
}


a {
  color: var(--link);
  text-decoration: none;
}

button {
  cursor: pointer;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  color: #AAA;
  max-width: 90%;
}

.breadcrumbs a {
  font-size: 0.85rem;
  font-weight: 500;
}

.breadcrumbs .home {
  padding-left: 16px;
  background: url('/icons/home.svg') left 3px no-repeat;
}

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

  }


}


:root {
  --link: #4BA950;
  --link-foreground: #FFF;
  --primary-green: #4BA950;
  --secondary-green: 108deg, 33.9%, 76.86%;
  --dark: #32302A;
  --radius: 0.625rem;
  --background: #FFF;
  --foreground: #333;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #94B840;
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --shadow-10: 4px 7px 10px 0 rgba(0, 0, 0, 0.1);
  --gradient-1: linear-gradient(90deg, #4BA950, #99D04F);

}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.bg-popover {
  background-color: var(--background);
}

.bg-popover a {
  color: var(--link);
}

header span.username {
  color: white;
}

.pointsValue {
  color: var(--link);
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  line-height: 100%;
  font-weight: 700;
}

button.primary,
a.primary {
  width: fit-content;
  padding: 24px 36px;
  background-color: var(--link);
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

button.primary:hover {
  background-color: var(--primary-green);
}

/* Cards */

.card {
  background-color: #fff;
  border-radius: 20px;
  padding: 24px;
  box-shadow: var(--shadow-10);
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Typography */

:root {
  --bodyFont: 'Open Sans', sans-serif;
  --headingFont: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  color: var(--primary-green);
}

.titleUnderlined {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: -0.04rem;
  border-bottom: 2px solid var(--link);
  padding-bottom: 0.2rem;
  margin-top: 1rem;
}